/* The animation code */
@keyframes example {
  from {background-color: gray;}
  to {background-color: ghostwhite;}
	}

/* The element to apply the animation to */
body {
  background-color: lightgray;
  animation-name: example;
  animation-duration: 2.5s;
  animation-direction: alternate;
  text-align: center;
  font-family: Lato, Arial;
  animation-iteration-count: 9999;

}

      
.rab{
  width: 200px;
  height: 30px;
  outline: 0;
  border: 0;
  color: white;
  background: darken(#04B486, 5%);
}
      
@keyframes fadeOut{
  from{
    opacity: 1;
  } 
  to{
    opacity: 0;
  }
}
    
@keyframes fadeIn{
  from{
    opacity: 0;
  } 
  to{
    opacity: 1;
  }
}


p {
  font-size:13pt;
  font-family: Serif;
  
}

h1 {
  color: purple;
  text-align: center;
  font-family: Serif;
}

li {
  padding-bottom: 7px;
  color: green;
  text-align: center;
  font-size:15pt;
}

.mehr_infos {
  padding-bottom: 7px;
  color: black;
  text-align: center;
  font-size:17.5pt;
}

button {
	  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
.Homepage {
  padding-bottom: 7px;
  color: black;
  text-align: center;
  font-size:22pt;
  font-family: Serif;
}

.Titel {
  padding-bottom: 7px;
  color: black;
  text-align: center;
  font-size:26pt;
  text-shadow: 1px 1px;
}

img {
border-radius: 300px;
-moz-border-radius: 300px;
-webkit-border-radius: 300px
}

:root {
  --bg: #f8e8da;
  --main-light: #ff9903;
  --main: #fd8800;
  --main-dark: #ed8407;
  --tail: #63ac5c;
  --shadow: #565654;
  --dark-shadow: #3d3735;
}

.dark {
  --bg: #4d4d4d;
  --main-light: #786b60;
  --main: #786b60;
  --main-dark: #786b60;
  --tail: #766c62;
  --shadow: #ffd277;
  --dark-shadow: #f88806;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: "DynaPuff", system-ui;
  color: #333333;
  background: var(--bg);
  overflow: hidden;
}

.pumpkin {
  position: relative;
}

.pumpkin__wrapper {
  animation: floating 3s ease-in-out infinite;
}

.pumpkin::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 110%;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--shadow);
  filter: opacity(.5) blur(20px);
  animation: shadow 3s ease-in-out infinite;
}

.pumpkin__body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  filter: drop-shadow(0 0 10px rgba(255, 210, 119, .2))
}

.pumpkin__part {
  position: relative;
  width: 4rem;
  height: 8.5rem;
  border-radius: 10rem;
  background-color: var(--main);
}

.dark .pumpkin__part {
  box-shadow: 0 0 20px 0 rgba(255, 210, 119, .5);
}

.pumpkin__part::before {
  content: "";
  position: absolute;
  top: .5rem;
  left: .5rem;
  display: block;
  width: 1rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .2);
  rotate: 45deg;
}

.pumpkin__part--center {
  background-color: var(--main-light);
  z-index: 2;
}

.pumpkin__part--center::after {
  content: "";
  position: absolute;
  top: .3rem;
  left: 1.8rem;
  display: block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .2);
}

.pumpkin__part--side {
  width: 3.5rem;
  height: 8rem;
  margin-inline: -1.5rem;
  z-index: 1;
}

.pumpkin__part--side::before {
  top: .2rem;
  left: .5rem;
  scale: .8;
}

.pumpkin__part--side-right::before {
  left: auto;
  right: .5rem;
  rotate: -45deg;
}

.pumpkin__part--outer {
  width: 3rem;
  height: 7rem;
  margin-top: .4rem;
  background-color: var(--main-dark);
  box-shadow: 2.6rem -0.7rem var(--main-dark);
  z-index: -1;
}

.pumpkin__part--outer::before {
  top: 0;
  left: .2rem;
  scale: .4;
}

.pumpkin__part--outer-right {
  box-shadow: -2.6rem -0.7rem var(--main-dark);
}

.pumpkin__part--outer-right::before {
  left: auto;
  right: .2rem;
  rotate: -45deg;
}

.pumpkin__tail {
  position: absolute;
  top: -0.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3.7rem;
  height: 1.5rem;
  margin-inline: auto;
  border-radius: 20rem 20rem 0 0;
  background-color: var(--tail);
  z-index: 0;
}

.pumpkin__tail::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%) skew(-20deg, -10deg);
  display: block;
  width: .5rem;
  height: 3rem;
  background-color: inherit;
}

.pumpkin__face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 40%;
  z-index: 3;
}

.pumpkin__eyes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .3rem;
}

.pumpkin__eye {
  position: relative;
  display: flex;
  width: 1.2rem;
  height: 1.3rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--dark-shadow);
}

.pumpkin__eye::before {
  content: "";
  display: block;
  width: 80%;
  height: 90%;
  margin-top: auto;
  margin-left: auto;
  background-color: var(--shadow);
  border-radius: 50%;
}

.pumpkin__mouth {
  width: 4.2rem;
  height: 1.2rem;
  margin: .5rem auto 0;
  background-color: var(--shadow);
  border-radius: 0 0 100% 100%/ 0 0 200% 200%;
  border-top: .3rem solid var(--dark-shadow);
  border-left: .3rem solid var(--dark-shadow);
}

.button {
  position: relative;
  display: block;
  width: min(150px, 300px);
  margin: 60px auto 0;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 var(--dark-shadow);
  color: var(--shadow);
  background-color: var(--main-light);
  border: none;
  border-radius: 10rem;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.dark .button {
  text-shadow: -3px -1px var(--dark-shadow);
}

.button:hover {
  text-shadow: -2px -1px var(--dark-shadow);
}

.button__decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button__decoration {
  position: absolute;
  display: block;
  background-color: var(--main-light);
  border-radius: 50%;
  transition: all .4s ease-in-out;
  transform: scale(0);
  opacity: 0;
  animation-duration: .2s;
}

.button__decoration:nth-child(1) {
  top: -1rem;
  left: -.5rem;
  width: 2rem;
  height: 2rem;
  animation-delay: .2s;
}

.button__decoration:nth-child(2) {
  top: -.5rem;
  left: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  animation-delay: .4s;
}

.button__decoration:nth-child(3) {
  top: -1rem;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  animation-delay: .6s;
}

.button__decoration:nth-child(4) {
  bottom: -1rem;
  right: -.5rem;
  width: 3rem;
  height: 3rem;
  animation-delay: .8s;
}

.button__decoration:nth-child(5) {
  top: -.5rem;
  right: .5rem;
  width: 1rem;
  height: 1rem;
  animation-delay: .4s;
}

.button__decoration:nth-child(6) {
  bottom: -.5rem;
  left: 4.5rem;
  width: 1rem;
  height: 1rem;
  animation-delay: .2s;
}

.button__decoration:nth-child(7) {
  bottom: -1rem;
  left: -.5rem;
  width: 4rem;
  height: 4rem;
  animation-delay: .6s;
}

.button:hover .button__decoration {
  animation-name: in;
  animation-fill-mode: both;
}


@keyframes in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0);
  }

  65% {
    transform: translate(0, 1rem);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes shadow {
  from {
    width: 110%;
    filter: opacity(.6) blur(20px);
  }

  65% {
    width: 90%;
    filter: opacity(.8) blur(10px);
  }

  to {
    width: 110%;
    filter: opacity(.6) blur(20px);
  }
}
